html, body {
    background: #000;
    color: #FFFFFF;
}

html, body {
    font-family: 'Ubuntu', sans-serif;
}

.app-container {
    background: -webkit-linear-gradient(to top right, rgba(2, 34, 101, 100), rgba(3, 143, 184, 50));
    background: -moz-linear-gradient(to top right, rgba(2, 34, 101, 100), rgba(3, 143, 184, 50));
    background: -o-linear-gradient(to top right, rgba(2, 34, 101, 100), rgba(3, 143, 184, 50));
    background: linear-gradient(to top right, rgba(2, 34, 101, 100), rgba(3, 143, 184, 50));
}

.app-particles {
    position: absolute;
}

.logo {
    margin-top: 56px;
}

.app-content {
    margin-top: 70px;
    margin-bottom: 100px;
}

.app-goals {
    margin-top: 30px;
}

.call-form {
    margin-top: 70px;
}

.call-form__title {
    font-weight: bold;
    font-size: 18px;
}

.contact-phone {
    margin-top: 30px;
}

.call-form__submit button {
    margin-top: 20px;
    background: #E91E63;
}






.contact-phone input,
.call-form__submit button {
    width: 100%;
    height: 52px;
}

.calc-inputs {
    margin-top: 40px;
    white-space: nowrap;
}

.calc-inputs input,
.addition input {
    height: 56px;
    width: 100%;    
}

.calc-inputs__controls,
.addition__controls {
    width: 50%;
}

.calc-inputs__controls,
.calc-inputs-labels__text {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.addition__controls-container {
    white-space: nowrap;
}

.calc-inputs__controls:first-of-type,
.calc-inputs-labels__text:first-of-type {
    margin-left: 0;
}

.calc {
    position: relative;
}

.calc-inputs__controls_prediction {
    white-space: initial;
    position: absolute;
    top: 100%;
    left: 0;
    margin-left: 0;
}

.calc-inputs-labels {
    white-space: nowrap;
}

.calc-inputs-labels__text {
    width: 50%;
    white-space: normal;
}

.client-prediction {
    margin-top: 70px;
}

.client-prediction__count {
    color: #25C714;
}

.addition {
    margin-top: 50px;
}

.addition__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.addition__controls {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 14px;
}

.addition__controls_prediction {
    width: 130px;
    margin-left: 10px;
    white-space: normal;
}

.addition__controls-label,
.calc-inputs-labels {
    margin-top: 10px;
}

.order-down-price {
    margin-top: 20px;
}

.order-down-prediction__count {
    color: #25C714;    
}

.smooth-text {
    opacity: .5;
}

.calc-section {
    margin-top: 70px;
}

@media(min-width: 768px) {
    .section-header,
    .client-prediction,
    .order-down-prediction {
        font-size: 48px;
    }

    .app-goals {
        width: 500px;
    }

    .contact-phone input,
    .call-form__submit button {
        width: 350px;
        height: 52px;
    }

    .calc-inputs input,
    .addition input {
        width: 140px;
        height: 56px;
    }

    .calc-inputs__controls,
    .addition__controls {
        width: initial;
    }

    .calc-inputs__controls_prediction {
        width: 120px;
        white-space: initial;
        position: initial;
        margin-left: 10px;
    }

    .addition__controls_prediction {
        width: 130px;
    }

    .client-prediction {
        margin-top: 30px;
    }

    .calc-inputs-labels__text {
        width: 140px;    
    }

    .calc-section {
        margin-top: 150px;
    }
}

@media(min-width: 992px) {
    .calc-section {
        margin-top: 0px;
    }

    .calc-inputs input,
    .calc-inputs-labels__text {
        width: 120px;
    }

    .calc-inputs-labels__text {
        margin-left: 10px;    
    }

    .addition input {
        width: 120px;
    }
}